[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Contains the implementation of major data structures from ground up
[access "refs/*"]
	owner = group user/Rajamohan Mohan Raj (mohanraj1311)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rajamohan Mohan Raj (mohanraj1311)
	label-Verified = -1..+1 group user/Rajamohan Mohan Raj (mohanraj1311)
	push = group user/Rajamohan Mohan Raj (mohanraj1311)
	read = group user/Rajamohan Mohan Raj (mohanraj1311)
	rebase = group user/Rajamohan Mohan Raj (mohanraj1311)
	removeReviewer = group user/Rajamohan Mohan Raj (mohanraj1311)
	submit = group user/Rajamohan Mohan Raj (mohanraj1311)
[access "refs/heads/*"]
	create = group user/Rajamohan Mohan Raj (mohanraj1311)
	push = +force group user/Rajamohan Mohan Raj (mohanraj1311)
	pushMerge = group user/Rajamohan Mohan Raj (mohanraj1311)
	read = group user/Rajamohan Mohan Raj (mohanraj1311)
[access "refs/tags/*"]
	push = group user/Rajamohan Mohan Raj (mohanraj1311)
	push = +force group user/Rajamohan Mohan Raj (mohanraj1311)
